# Unreal Engine
Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcworkspace
*.xcodeproj
*.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
